body {
    background-image: url('sfondo_desktop.png');
    background-repeat: repeat;
    color: #7D7D7D;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#connectButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 80px;
}

/* Opzioni contenitore */
.options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Aggiunto per permettere l'adeguamento su schermi più piccoli */
}

.option {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    width: 150px;
    margin: 0 10px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #555;
}

h2 {
    margin: 0;
}

p {
    margin: 5px 0 0;
}

/* Media Queries per il design mobile */
@media (max-width: 600px) {
    body {
        flex-direction: column; /* Imposta la direzione della flex per i dispositivi mobili */
        height: auto; /* Permette al body di adattarsi al contenuto */
    }

    .options {
        flex-direction: column; /* Le opzioni verranno visualizzate in colonna */
        align-items: center; /* Allinea le opzioni al centro */
    }

    .option {
        width: 90%; /* Le opzioni occupano il 90% della larghezza disponibile */
        margin: 10px 0; /* Margine verticale per la spaziatura */
    }
}
