body {
    background-image: url('sfondo desktop.png');
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Permette di allineare gli elementi in colonna */
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#connectButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 30px; /* Aumenta le dimensioni del pulsante */
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permette ai rettangoli di adattarsi se lo schermo è piccolo */
}

.option {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    width: 150px;
    margin: 10px; /* Margine uniformato */
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #555;
}

.balance {
    margin-top: 30px; /* Aggiunge spazio sopra il saldo */
}
