/* Stile per l'intestazione */
.header {
    width: 100%; /* Larghezza al 100% */
    background-color: rgba(0, 123, 255, 0.8); /* Colore di sfondo con trasparenza */
    padding: 20px 0; /* Maggiore spaziatura verticale per aumentare l'altezza */
    text-align: center; /* Centra il testo */
    position: absolute; /* Sovrappone al contenuto sottostante */
    top: 0; /* Posiziona l'intestazione in cima alla pagina */
    z-index: 1000; /* Assicura che l'intestazione sia sopra gli altri elementi */
}

/* Stile generale della pagina */
body {
    background-image: url('sfondo_desktop.png'); /* Assicurati che il percorso sia corretto */
    background-color: #000000ec;
    background-size: 133% auto;
    background-position: 0% 20%;
    background-repeat: no-repeat; /* Non ripete l'immagine */
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
}

/* Stile per il contenitore principale */
.container {
    text-align: center;
    margin-top: 155px; /* Maggiore margine per evitare sovrapposizioni */
}

/* Stile del pulsante Connect Wallet */
#connectButton {
    background-color: #4ebe59;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 22px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 9px;
    position: absolute;
    top: 90px;
    right: 200px;
}

/* Stile per le opzioni */
.options {
    display: flex;
    justify-content: center;
    gap: 70px; /* Spaziatura tra i rettangoli */
    margin-top: 50px; /* Sposta il contenitore delle opzioni più in basso */
}

/* Stile per ogni singola opzione */
.option {
    background-color: #333;
    border: 16px solid #444;
    border-radius: 20px;
    width: 100px;
    padding: 42px;
    cursor: pointer;
    transition: background-color 0.5s; /* Anima il cambio di colore al passaggio del mouse */
}

/* Stile per l'immagine balance */
#balanceImage {
    margin-top: 40px; /* Aggiusta il valore per spostare l'immagine in basso */
    display: block; /* Assicura che l'immagine si comporti come un elemento a blocco */
    margin-left: auto; /* Centra l'immagine orizzontalmente */
    margin-right: auto;
}

.option:hover {
    background-color: #c6b51bca;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}
